<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Edit <%= foundEvent.title %>'s Info</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/events">Todays Events</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>Events Edit:</h2>
			<form action="/events" method="POST">
                Title Of Event: <input type="text" name="title" /><br/>
				Location: <input type="text" name="location" /><br/>
				Date: <input type="date" name="date"/><br/>
				Cost: <input type="text" name="cost"><br/>
				Details: <textarea name="body"></textarea><br/>
				Image Url: <input type="url" name="img"><br/>
                <input type="submit" value="Edit Event">
            </form>
		</main>
	</body>
</html>