<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Edit <%= foundEvent.title %>'s Info</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/events">Todays Events</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>Events Edit:</h2>
			<form action="/events" method="POST">
                Title Of Event: <input type="text" name="title" />
                Location: <input type="text" name="location" />
                Date: <input type="date" name="date">
                <input type="submit" value="Edit Event">
            </form>
		</main>
	</body>
</html>