<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body class="header">
		<header>
			<h1>Community Events</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/events/new">Create a New Event</a>
					</li>
				</ul>
			</nav>
		</header>
	</body>
	<main>
		<ul>
			<% foundEvents.forEach(events => { %>
				<li>
					<a href="/events/<%= events._id %>"><%= events.title %> - <%= events.location %> (<%= events.date %>) </a>
				</li>
			<% }) %>
		</ul>
	</main>
</html>