<head>
    <meta charset="utf-8">
    <title>Community Events</title>
    <link defer rel="stylesheet" href="/style.css">
</head>
<body class="home">
    <header>
        <h1>Welcome</h1>
        <h1>Community Events</h1>
        <div class="slidershow middle">

            <div class="slides">
                <input type="radio" name="r" id="r1" checked>
                <input type="radio" name="r" id="r2">
                <input type="radio" name="r" id="r3">
                <input type="radio" name="r" id="r4">

                <div class="slide">
                    <img src="../images/cookout.jpg" alt="picture-1">
                </div>
                <div class="slide">
                    <img src="../images/drive-in.jpg" alt="picture-2">
                </div>
                <div class="slide">
                    <img src="../images/bar.jpg" alt="picture-3">
                </div>
                <div class="slide">
                    <img src="https://trello-attachments.s3.amazonaws.com/5f2349b807a65c6e9fe58342/5f2349b90175376dd8a1bf5a/ca9f71e2b8e3887df516ff233301536a/marc-babin-aQWmCH_b3MU-unsplash.jpg" alt="picture-4">
                </div>
            </div>
        </div>
    
    
        <div class="navigation">
            <label for="r1" class="bar"></label>
            <label for="r2" class="bar"></label>
            <label for="r3" class="bar"></label>
            <label for="r4" class="bar"></label>
        </div>
        <nav class="start">
            <ul>
                <li>
                    <a href="/events">Todays Events</a></br>
                    <a href="events/new">Create Todays Event</a>
                </li>
                <li>
                    <a href="/futureEvents">Upcoming Events</a></br>
                    <a href="/futureEvents/new">Create Upcoming Event</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>
