<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <header>
        <h1>Welcome Community Events</h1>
        <nav>
            <ul>
                <li>
                    <a href="/events">Todays Events</a>
                </li>
                <li>
                    <a href="/futureEvents">Upcoming Events</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>