<head>
    <meta charset="utf-8">
    <title>Community Events</title>
    <link defer rel="stylesheet" href="/public/css/style.css">
    <link defer rel="stylesheet" href="/public/css/sass/style.scss">
</head>
<body class="home">
    <header>
        <h1>Welcome</h1>
        <h1>Community Events</h1>

        <nav class="start">
            <ul>
                <li>
                    <a href="/events">Todays Events</a></br>
                    <a href="events/new">Create Todays Event</a>
                </li>
                <li>
                    <a href="/futureEvents">Upcoming Events</a></br>
                    <a href="/futureEvents/new">Create Upcoming Event</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="slidershow middle">

        <div class="slides">
            <input type="radio" name="r" id="r1" checked>
            <input type="radio" name="r" id="r2">
            <input type="radio" name="r" id="r3">
            <input type="radio" name="r" id="r4">

            <div class="slide">
                <img src="https://images.unsplash.com/photo-1555939594-58d7cb561ad1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="picture-1">
            </div>
            <div class="slide">
                <img src="https://images.unsplash.com/photo-1594808985790-98a065b97476?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="picture-2">
            </div>
            <div class="slide">
                <img src="https://images.unsplash.com/photo-1543007630-9710e4a00a20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="picture-3">
            </div>
            <div class="slide">
                <img src="https://images.unsplash.com/photo-1496024840928-4c417adf211d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="picture-4">
            </div>
        </div>
    </div>


    <div class="navigation">
        <label for="r1" class="bar"></label>
        <label for="r2" class="bar"></label>
        <label for="r3" class="bar"></label>
        <label for="r4" class="bar"></label>
    </div>
    <script type="text/javascript">




        if(localStorage.getItem("welcome")){
            if (localStorage.getItem("welcome") === "1" ){
                let welcome = parseInt(localStorage.getItem("welcome"))
                welcome++
                localStorage.setItem("welcome", welcome)
                swal({
                    title: "Welcome To Community Events",
                    text: "Please Login To Add Events",
                    closeModel: false,
                    closeOnClickOutside: false,
                })
                .then((page) => {
                    if (page) {
                        swal({
                            title: "Thank You For UnderStanding",
                            text:"Enjoy!!",
                            icon: "success",
                            buttons: false,
                            timer: 1000,
                        });
                    };
                });
            }
        } else {
            localStorage.setItem("welcome", 1)
            swal({
                    title: "Welcome To Community Events",
                    text: "Please Login To Add Events",
                    closeModel: false,
                    closeOnClickOutside: false,
                })
                .then((page) => {
                    if (page) {
                        swal({
                            title: "Thank You For UnderStanding",
                            text:"Enjoy!!",
                            icon: "success",
                            buttons: false,
                            timer: 1000,
                        });
                    };
                });
        }
    



        
    </script>
</body>
</html>
