<<<<<<< HEAD
<header>
    <h1>Welcome Community Events</h1>
</header>
=======
<head>
    <meta charset="utf-8">
    <title>Community Events</title>
    <link defer rel="stylesheet" href="/style.css">
</head>
<body class="home">
    <header>
        <h1>Welcome Community Events</h1>
        <nav class="start">
            <ul>
                <li>
                    <a href="/events">Todays Events</a></br>
                    <a href="events/new">Create Todays Event</a>
                </li>
                <li>
                    <a href="/futureEvents">Upcoming Events</a></br>
                    <a href="/futureEvents/new">Create Upcoming Event</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>
>>>>>>> c8d05c561e69fa600adc80f871a5204488dc797e
