<head>
    <meta charset="utf-8">
    <title>Community Events</title>
    <link defer rel="stylesheet" href="/style.css">
</head>
<body class="home">
        <section>
            <header>
                <h1>Welcome Community Events</h1>
                <button><a href="/logout">Logout</a></button>
                <form action="/login" method="POST">    
                        Email:<input type="email" name="email" id="email" required>
                        Password:<input type="password" name="password" id="password" required>
                        <input type="submit" name="Login" id="login">
                </form>
                <a href="/users/register">Register</a>
            </header>
        </section>
    <div>
        <h1>Welcome Community Events</h1>
        <nav class="start">
            <ul>
                <li>
                    <button><a href="/events">Todays Events</a></br></button>  
                    <button><a id='eventsNew' href="/events/new">Create Todays Event</a></button></br>

                </li>
                <li>
                    <button><a href="/futureEvents">Upcoming Events</a></br></button>
                    <button><a class='eventsNew' href="/futureEvents/new">Create Upcoming Event</a></button></br>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>