<div class="home">
    <div>
        <nav class="start" style="position: relative; top: 100px; display: inline-flex;">
            <ul style="list-style: none; flex-direction: row; display: inline-flex;">
                <li>
                    <a href="/events">Todays Events</a>
                </li>
                <li>
                    <a href="events/new">Create Todays Event</a>
                </li>
                <li>
                    <a href="/futureEvents">Upcoming Events</a>
                </li>
                <li>
                    <a href="/futureEvents/new">Create Upcoming Event</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="slidershow middle" style="position: relative; top: 400px; border: 5px solid mintcream; opacity: 0.9;">

        <div class="slides">
            <input type="radio" name="r" id="r1" checked>
            <input type="radio" name="r" id="r2" checked>
            <input type="radio" name="r" id="r3" checked>
            <input type="radio" name="r" id="r4" checked>

            <div class="slide s1">
                <img src="https://images.unsplash.com/photo-1555939594-58d7cb561ad1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="picture-1">
            </div>
            <div class="slide">
                <img src="https://images.unsplash.com/photo-1594808985790-98a065b97476?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="picture-2">
            </div>
            <div class="slide">
                <img src="https://images.unsplash.com/photo-1543007630-9710e4a00a20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="picture-3">
            </div>
            <div class="slide">
                <img src="https://images.unsplash.com/photo-1496024840928-4c417adf211d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="picture-4">
            </div>
        </div>
    </div>


    <div class="navigation">
        <label for="r1" class="bar"></label>
        <label for="r2" class="bar"></label>
        <label for="r3" class="bar"></label>
        <label for="r4" class="bar"></label>
    </div>

    <script type="text/javascript">
        if(localStorage.getItem("welcome")){
            if (localStorage.getItem("welcome") === "1" ){
                let welcome = parseInt(localStorage.getItem("welcome"))
                welcome++
                localStorage.setItem("welcome", welcome)
                swal({
                    title: "Welcome To Community Events",
                    text: "Please Login To Add Events",
                    closeModel: false,
                    closeOnClickOutside: false,
                })
                .then((page) => {
                    if (page) {
                        swal({
                            title: "Thank You For UnderStanding",
                            text:"Enjoy!!",
                            icon: "success",
                            buttons: false,
                            timer: 1000,
                        });
                    };
                });
            }
        } else {
            localStorage.setItem("welcome", 1)
            swal({
                    title: "Welcome To Community Events",
                    text: "Please Login To Add Events",
                    closeModel: false,
                    closeOnClickOutside: false,
                })
                .then((page) => {
                    if (page) {
                        swal({
                            title: "Thank You For UnderStanding",
                            text:"Enjoy!!",
                            icon: "success",
                            buttons: false,
                            timer: 1000,
                        });
                    };
                });
        }
    </script>
</div>
