<head>
    <meta charset="utf-8">
    <title>Community Events</title>
    <link defer rel="stylesheet" href="/style.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body class="home">
        <section>
            <header>
                <h1>Welcome Community Events</h1>
                <button><a href="/logout">Logout</a></button>
                <form action="/login" method="POST">    
                        Email:<input type="email" name="email" id="email" required>
                        Password:<input type="password" name="password" id="password" required>
                        <input type="submit" name="Login" id="login">
                </form>
                <a href="/users/register">Register</a>
            </header>
        </section>
    <div>
        <h1>Welcome Community Events</h1>
        <nav class="start">
            <ul>
                <li>
                    <button><a href="/events">Todays Events</a></br></button>  
                    <button><a  href="/events/new">Create Todays Event</a></button></br>

                </li>
                <li>
                    <button><a href="/futureEvents">Upcoming Events</a></br></button>
                    <button id="getEvents"><a  href="/futureEvents/new">Create Upcoming Event</a></button></br>
                    
                </li>
            </ul>
        </nav>
    </div>
    <script type="text/javascript">
        if(localStorage.getItem("welcome")){
            if (localStorage.getItem("welcome") === "1" ){
                let welcome = parseInt(localStorage.getItem("welcome"))
                welcome++
                localStorage.setItem("welcome", welcome)
                swal({
                    title: "Welcome To Community Events",
                    text: "Please Login To Add Events",
                    closeModel: false,
                    closeOnClickOutside: false,
                })
                .then((page) => {
                    if (page) {
                        swal({
                            title: "Thank You For UnderStanding",
                            text:"Enjoy!!",
                            icon: "success",
                            buttons: false,
                            timer: 1000,
                        });
                    };
                });
            }
        } else {
            localStorage.setItem("welcome", 1)
            swal({
                    title: "Welcome To Community Events",
                    text: "Please Login To Add Events",
                    closeModel: false,
                    closeOnClickOutside: false,
                })
                .then((page) => {
                    if (page) {
                        swal({
                            title: "Thank You For UnderStanding",
                            text:"Enjoy!!",
                            icon: "success",
                            buttons: false,
                            timer: 1000,
                        });
                    };
                });
        }
    
    </script>
</body>
</html>