<!DOCTYPE html>
<html>
<head>
    <title>Community Bullitin</title>
    <link rel="stylesheet" href="css/style.css">  
</head>
<body>
    <nav class="navbar">
        <ul>
            <li>
                <a href="/register">Register</a>
            </li>
        </ul>
        <a href="/">Community Bullitin Board</a>
        <ul>
            <li>
                <a href="/login">Login</a>
            </li>
        </ul>
    </nav>
    <%- body %>
</body>
</html>