<!DOCTYPE html>
<html>
<head>
    <title>Community Bullitin</title>
    
</head>
<body>
    <nav>
        <a href="/">Homepage</a>
        <ul>
            <li>
                <a href="/events">Todays Events</a>
            </li>
            <li>
                <a href="/futureEvents">Upcoming Events</a>
            </li>
        </ul>
    </nav>
    <%- body %>
</body>
</html>