<!DOCTYPE html>
<html>
<head>
    <title>Community Bullitin</title>
    <link rel="stylesheet" href="css/style.css">  
</head>
<body>
    <nav class="navbar">
        <a href="/">Community Bullitin Home</a>
        <ul>
            <li>
                <a href="/events">Todays Events</a>
            </li>
            <li>
                <a href="/futureEvents">Upcoming Events</a>
            </li>
        </ul>
    </nav>
    <%- body %>
</body>
</html>