<!DOCTYPE html>
<html>

<head>
    <title>Community Bullitin</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="navbar">
        <a href="/register">Register</a><br>
        <a href="/">Community Bullitin Board</a><br>
        <a href="/login">Login</a>
    </nav>
    <%- body %>
</body>

</html>