* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Helvetica Neue"; }

.navbar {
  background-color: #cb6b70;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25)); }

h1, h2, h3 {
  font-weight: 500; }

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1.5rem; }
  a:hover {
    color: #000000;
    transition: all 0.5s ease-in-out; }

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 100px; }
  header h1 {
    margin: 15px;
    font-size: 2.5rem; }
  header ul {
    list-style: none;
    display: flex;
    flex-direction: row; }

body {
  background-image: url(https://trello-attachments.s3.amazonaws.com/5f2349b807a65c6e9fe58342/5f2349b90175376dd8a1bf5a/ca9f71e2b8e3887df516ff233301536a/marc-babin-aQWmCH_b3MU-unsplash.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  perspective: none;
  overflow: hidden;
  background-position: 0 -280;
  background-repeat: no-repeat; }
