<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body class="header">
    <header>
        <h1>Future Community Events</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/futureEvents/new">Create a New Event</a>
                </li>
                <li>
                    <a href="/events">Todays Events </a>
                </li>
            </ul>
        </nav>
    </header>
</body>
<main>
    <h2>Upcoming Events</h2>
    <ul>
        <% foundFutureEvents.forEach(futureEvent => { %>
        <li>
            <a href="/futureEvents/<%= futureEvent._id %>"><%= futureEvent.title %> - <%= futureEvent.location %>
                (<%= futureEvent.date %>) </a>
        </li>
        <% }) %>
    </ul>
</main>

</html>