</head>

<body>
    <header>
        <div class=header>
            <h1>Create an Event</h1>
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/events">Upcoming Future Events</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div>
        <form action="/futureEvents" method="POST">
            Title Of Event: <input type="text" name="title" /><br/>
            Location: <input type="text" name="location" /><br/>
            Date: <input type="date" name="date"/><br/>
            Cost: <input type="text" name="cost"><br/>
            Details: <textarea name="body"></textarea><br/>
            Image Url: <input type="url" name="img"><br/>
            <input type="submit" value="Create Event">
        </form>
    </div>
</body>

</html>