</head>

<body>
    <header>
        <div class=header>
            <h1>Create an Event</h1>
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/events">Upcoming Future Events</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div>
        <form action="/futureEvents" method="POST">
            Title Of Event: <input type="text" name="title" />
            Location: <input type="text" name="location" />
            Date: <input type="date" name="date">
            <input type="submit" value="Create Event">
        </form>
    </div>
</body>

</html>